@use "../../../../styles/variables" as variables;
@use "../../../../styles/utilities" as utilities;

.link {
  text-decoration: none;
  gap: variables.$spacing-unit-large;
}

.link-to-project a:hover {
  text-decoration: none;
}

.material-icons {
  font-size: 1.2rem;
}

img.sitemap {
  max-height: 380px;
}

ul,
ol {
  margin: variables.$spacing-unit-large * 4 0;
}

.border-left {
  border-left: 3px solid variables.$color-berry-400;
  padding-left: variables.$spacing-unit-large * 2;
}

.background {
  background-color: #d9ddf2;
}

@media (max-width: variables.$breakpoint-mobile) {
  .nd-mobile {
    display: none;
  }
}
