@use "../../../../styles/tokens" as token;

.link {
  text-decoration: none;
  gap: token.$spacing-unit-large;
}

.link-to-project a:hover {
  text-decoration: none;
}

.material-icons {
  font-size: 1.2rem;
}

img.sitemap {
  max-height: 380px;
}

ul,
ol {
  margin: token.$spacing-unit-large * 4 0;
}

.border-left {
  border-left: 3px solid token.$teal-500;
  padding-left: token.$spacing-unit-large * 2;
  //color: token.$teal-300;
}

ul.border-left {
  padding-left: token.$spacing-unit-large * 4;
}
