<section class="mt-80 mb-80">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<section class="container-l d-flex gap-32 pb-80">
  <div
    class="box-1 flex-wrap justify-between gap-32 bg-light-blue radius-l pd-16"
  >
    <picture>
      <source srcset="projects/meditation.webp" type="image/webp" />
      <img src="projects/meditation.png" alt="" />
    </picture>
  </div>
  <div
    class="box-1 flex-wrap justify-between gap-32 bg-light-blue radius-l pd-16"
  >
    <picture>
      <source srcset="projects/bananasana.webp" type="image/webp" />
      <img src="projects/bananasana.png" alt="" />
    </picture>
  </div>
  <div
    class="box-1 flex-wrap justify-between gap-32 bg-light-blue radius-l pd-16"
  >
    <picture>
      <source srcset="projects/toe-squat.webp" type="image/webp" />
      <img src="projects/toe-squat.png" alt="" />
    </picture>
  </div>
</section>

<section class="bg-medium-blue bluebox text-center">
  <div class="container-l">
    <h2>Technical Tools used</h2>
    <div class="d-flex flex-wrap gap-32">
      <div class="box-1 flex-wrap justify-between gap-32">
        <h3>Design Tools</h3>
        <p>Figma for UIs, Procreate for Illustrations</p>
      </div>
      <div class="box-1 flex-wrap justify-between gap-32">
        <h3>Frontend Framework</h3>
        <p>Angular for Component-based Development</p>
      </div>
      <div class="box-1 flex-wrap justify-between gap-32">
        <h3>Web Technologies</h3>
        <p>TypeScript, SCSS and HTML</p>
      </div>
    </div>
  </div>
</section>

<section class="text-center m-middle container-m link-to-project">
  <h2 class="mt-80">Explore the Yin-Style Yoga Application</h2>
  <p class="mb-32 container">
    If you'd like to explore the application in real life, simply click the
    button.
  </p>
  <a href="https://kokoloyoga.com" target="_blank" rel="noopener noreferrer">
    <button class="link d-flex align-items m-middle">
      Go to Application
      <span class="material-icons" aria-hidden="true">open_in_new</span>
    </button>
  </a>
</section>

<section class="table-contents bg-light-brown ptb-80 mt-80">
  <div class="container-m m-middle text-center">
    <h2>Table of Contents</h2>
    <h3>
      <a (click)="scrollTo('section1')">1. Planning and Technology Stack</a>
    </h3>
    <h3>
      <a (click)="scrollTo('section2')">2. UX/UI Design Process</a>
    </h3>
    <h3><a (click)="scrollTo('section3')">3. Development Process</a></h3>
    <h3><a (click)="scrollTo('section4')">4. Future Plans</a></h3>
    <h3><a (click)="scrollTo('section5')">5. Final Reflections</a></h3>
  </div>
</section>

<section id="section1" class="ptb-80">
  <div class="container-m m-middle">
    <h2>1. Planning and Technology Stack</h2>
    <h3>Project Scope and Goals</h3>
    <p>
      The goal of the web application is to create a calming and user-friendly
      platform focused on Yin-Style Yoga. At the
      <strong>heart of the application</strong> is a library of yoga poses, each
      presented with a structure that includes step-by-step instructions for
      entering and exiting the pose, its effects on the body, and suggested
      variations to suit different needs and abilities.
    </p>
    <p>
      In addition to the library, the app also features yoga routines, allowing
      users to filter routines based on specific target areas.
    </p>
    <p class="border-left">
      <strong>
        Together, the Yoga Pose Library, routines, and introduction form core of
        the application. These elements represent the “Walking Skeleton” of the
        project - a minimal but complete version that fulfills the essential
        requirements for the initial launch.</strong
      >
    </p>
    <h3>Technology Stack</h3>
    <p>
      Choosing the right framework for this project was a careful decision. With
      so many options available, I ultimately decided to go with Angular for two
      main reasons:
    </p>
    <p>
      First, after starting to learn Java, I really grew to appreciate the
      <strong>Object-Oriented Approach</strong>. As Angular embraces this same
      approach, it made a natural fit for me.
    </p>
    <p>
      The second reason is my plan to transform this app into a
      <strong>Progressive Web Application</strong> (PWA). Since both PWAs and
      Angular were developed by Google, Angular makes it especially smooth to
      turn an Angular application into a PWA.
    </p>
    <p>
      For the styling, I chose SCSS because it allows me to write more
      <strong>efficient and maintainable CSS</strong> by using features like
      variables, mixins, and nesting.
    </p>
  </div>
</section>

<section class="bg-light-berry ptb-80">
  <div class="container-m m-middle">
    <h3>Summary: Planning and Technology Stack</h3>
    <p>
      The Yin-Style Yoga Application is designed as a user-friendly platform
      featuring a well-structured Yoga Pose Library and Yoga Routines, which
      users can filter based on target areas. Built using Angular for its
      object-oriented approach and future scalability as a Progressive Web App
      (PWA), the app's component-based architecture ensures modularity and
      maintainability. Styling is handled with SCSS, providing efficient and
      reusable design through variables and mixins. Together, these elements
      create a flexible foundation for future expansions while offering a smooth
      user experience.
    </p>
  </div>
</section>

<section id="section2" class="ptb-80">
  <div class="container-m m-middle">
    <h2>2. UX/UI Design Process</h2>
    <h3>Research and Discovery Phase</h3>
    <p>
      Creating the Yin-Style Yoga web application started with a personal
      challenge: organizing my yoga routines and pose instructions in a more
      efficient and accessible way.
    </p>
    <h4>Identifying the Problem</h4>
    <p>
      Before creating this application, all my yoga routines and instructions
      were scattered across various papers, making it difficult to quickly
      access the information I needed. Every time I wanted to create a new
      routine or perform an existing one, I had to search through my "paper
      chaos" to find details about specific poses. This slowed down my practice
      and made it harder to stay organized.
    </p>
    <p>
      The primary goal of the application was to
      <strong>speed up the creation and execution of yoga routines</strong>,
      while providing a simple, quick way to access all the information I needed
      about each pose.
    </p>
    <p class="border-left">
      <strong>
        I envisioned an organized library that would allow me to easily find,
        filter, and access yoga poses, saving me time and improving the flow of
        my practice.</strong
      >
    </p>

    <h4>Brainstorming the Product Requirements</h4>
    <p>
      During my brainstorming sessions, I explored a variety of functionalities
      that would enhance the user experience and provide real value. Initially,
      I dreamed big, listing features such as:
    </p>

    <ul>
      <li>
        A <strong>Login Area</strong> with a
        <strong>Personal Dashboard</strong> for tracking progress.
      </li>
      <li>
        A tool to create <strong>custom yoga routines</strong> tailored to the
        user's needs.
      </li>

      <li>
        <strong>Pre-made routines</strong>
        and <strong>graphical videos</strong>
        to inspire users who are looking for guidance.
      </li>
    </ul>

    <p>
      However, I knew I needed to prioritize the core functionalities for the
      initial release. This led to the creation of
      <strong>key product requirements</strong> that would lay the foundation
      for the application:
    </p>
    <ol>
      <li>
        <strong>Quick and Easy Access to Yoga Poses</strong>: The application
        needed a well-structured library where users could quickly find and
        filter yoga poses based on target areas.
      </li>
      <li>
        <strong>Silent, Self-Paced Practice</strong>: Users should be able to
        conduct ready-made yoga routines in a peaceful environment, without
        distractions.
      </li>
      <li>
        <strong>Introduction to Yin-Style Yoga</strong>: For those new to the
        practice, a brief introduction would offer insights into the benefits
        and techniques of Yin-Style Yoga.
      </li>
    </ol>
    <p>
      By narrowing down these key requirements, I was able to focus on creating
      a product that is <strong>user-friendly</strong> and
      <strong>valuable</strong> from the very first version. I also kept in mind
      that the initial launch could serve as a foundation, with the potential to
      expand the app's functionality in the future.
    </p>
    <h3>High-Level Design Concept</h3>
    <p>
      In this phase, the focus was on creating a flexible, scalable structure
      for the Yin-Style Yoga App. The high-level design decisions revolved
      around visualizing the <strong>site's structure</strong>, organizing
      content efficiently, and setting the overall
      <strong>look and feel</strong> of the application.
    </p>
    <h4>Scalable Information Architecture</h4>
    <p class="mb-32">
      A key consideration in the design process was ensuring that the
      information architecture was <strong>modular and scalable</strong>. As the
      application evolves, I plan to add more content, such as Breathing
      Techniques and Meditation Sessions, which should be integrated seamlessly.
      This <strong>sitemap</strong> outlines the main sections - Yin-Style Yoga,
      and future sections for Breathing and Meditation.
    </p>

    <picture>
      <source srcset="projects/sitemap.webp" type="image/webp" />
      <img
        src="projects/sitemap.png"
        alt=""
        class="m-middle sitemap pb-32"
        title="Sitemap"
      />
    </picture>

    <h4>Content Creation and Structure</h4>
    <p>
      The next challenge was to create content for the whole application,
      particularly for the Yoga Pose Library. The goal was to create content
      that was both clear and concise, providing all the information needed
      without overwhelming with unnecessary details.
    </p>
    <h4>Filtering Options</h4>
    <p>
      When designing the filtering system for the Yoga Pose Library and Yoga
      Routines, I wanted to strike a balance between simplicity and utility. Too
      many filters would overwhelm users, while too few might limit their
      ability to find the content that suits their needs.
    </p>
    <h4>Wireframes</h4>
    <p>
      To bring the structure of the pages to life and better understand the
      layout, user flows, and how various elements like text and images would
      interact, I created simple wireframes. These rough wireframes allowed me
      to explore the platform's design and functionality early on, providing a
      clear sense of how the web application would feel and flow without getting
      lost in the finer details.
    </p>
    <h4>High-Level Visual Design Guide</h4>
    <p>
      To establish a strong visual identity for the application, I began by
      creating a high-level design guide. This guide outlines the core elements
      that would define the look and feel of the application, from color schemes
      to typography.
    </p>
    <p>
      The design needed to reflect the calming, meditative nature of Yin-Style
      Yoga. I chose a color palette with soft, soothing tones - gentle purples
      and blues that evoke a sense of peace and balance. The typography was
      selected to be clean and easy to read.
    </p>
    <h3>Detailed Design</h3>
    <p>
      The Detailed Design phase was where the vision for the Yin-Style Yoga
      Application took shape in a concrete, visual form. This phase was centered
      around building a comprehensive Design System that would not only define
      the look and feel of the application but also ensure
      <strong>consistency and scalability</strong>
      throughout the design. From the foundation of this system, reusable
      components and design patterns were created, followed by the visual
      designs.
    </p>
    <h4>Building the Foundation of Design System</h4>
    <p>
      The foundation of the Design System began with the
      <strong>creation of variables</strong>, such as the Color Collections,
      which ensured that the color palette remained consistent across the entire
      application. Using color variables, I established semantic color aliases
      (for example background, border, accent) to make the use of colors more
      efficient and meaningful throughout the design.
    </p>

    <div
      class="d-flex flex-wrap justify-between gap-32 align-bottom pt-32 pb-32"
    >
      <div class="box-1">
        <figure>
          <picture>
            <source srcset="projects/colors-kokolo.webp" type="image/webp" />
            <img
              src="projects/colors-kokolo.png"
              alt=""
              class="radius-l elevation-xs"
            />
          </picture>
          <figcaption>Color Palette with soft, soothing tones</figcaption>
        </figure>
      </div>
      <div class="box-1">
        <figure>
          <picture>
            <source srcset="projects/colors-variables.webp" type="image/webp" />
            <img
              src="projects/colors-variables.png"
              alt=""
              class="radius-l elevation-xs"
            />
          </picture>
          <figcaption>Creation of Color Variables</figcaption>
        </figure>
      </div>
    </div>

    <p>
      In addition to color, I defined variables for other key elements such as
      typography, number scales, border radius, elevation, and breakpoints.
    </p>
    <h4>Reusable Components and Patterns of the Design System</h4>
    <p>
      Based on the foundational variables, I began creating reusable components
      that would form the building blocks of the application's interface. These
      components included:
    </p>
    <ul>
      <li>
        <strong>Buttons and Filters</strong>: Designed to be flexible and
        scalable, with various states for default, hover, and active
        interactions.
      </li>
      <li>
        <strong>Cards</strong>: Components like the Yoga Pose Card and Training
        Card were designed, ensuring they were visually consistent and adaptable
        to different contexts.
      </li>
      <li>
        <strong>Accordion</strong>: A design pattern for expanding and
        collapsing content.
      </li>
      <li>
        <strong>Main Navigation and Footer</strong>: Design patterns for
        consistent navigation and branding across the app were also created.
      </li>
    </ul>
    <p class="mb-32">
      These components were <strong>built with reusability</strong> in mind,
      ensuring they could be used across different sections of the application
      without the need for redesign or additional effort.
    </p>
    <figure>
      <picture>
        <source srcset="projects/yoga-card.webp" type="image/webp" />
        <img
          src="projects/yoga-card.jpg"
          alt=""
          class="radius-l elevation-xs m-middle"
          title="Design Pattern: Yoga Card"
        />
      </picture>
      <figcaption>Design Pattern: Yoga Card</figcaption>
    </figure>
    <h4>Yoga Pose Illustrations</h4>
    <p>
      As part of the Design System, I created custom illustrations for the yoga
      poses using Procreate. These illustrations were designed to be simple yet
      effective, focusing on clear representation of each pose without
      overwhelming detail.
    </p>
    <h4>Creating the Visual Designs</h4>
    <p>
      With the Design System in place, I moved on to the creation of the Visual
      Designs for the application. These designs followed the
      <strong
        >structure and flow established in the High-Level Design phase</strong
      >, ensuring that the user experience remained cohesive from start to
      finish.
    </p>
    <p class="mb-48">
      The Visual Designs were created with the goal of maintaining calmness and
      clarity, using the variables, components and design patterns defined in
      the Design System.
    </p>
    <figure>
      <picture>
        <source srcset="projects/visual-design-home.webp" type="image/webp" />
        <img
          src="projects/visual-design-home.png"
          alt=""
          class="m-middle"
          title="Visual Design: Home Page"
        />
      </picture>
      <figcaption>Visual Design: Home Page</figcaption>
    </figure>
    <h3>Prototyping and Testing</h3>

    <p class="border-left">
      If you're interested in learning how I conduct Usability Testing and how
      it can improve the user experience, you can read an article I wrote on the
      topic here:
      <a routerLink="/blog/usability-testing"
        >Usability Testing Made Easy in 4 Steps</a
      >.
    </p>
  </div>
</section>

<section class="bg-light-berry ptb-80">
  <div class="container-m m-middle">
    <h3>Summary: UX/UI Process</h3>
    <p>
      The UX/UI Design Process for the Yin-Style Yoga App began with a thorough
      Research and Discovery phase, where I identified key user needs and
      defined the application's target audience. From there, I moved into the
      High-Level Design phase, focusing on creating a scalable and flexible
      structure for the app's information architecture and content. During the
      Detailed Design phase, I developed a comprehensive Design System with
      reusable components, custom illustrations, and the Visual Designs which
      ensure a consistent and harmonious user experience.
    </p>
  </div>
</section>

<section id="section3" class="ptb-80">
  <div class="container-m m-middle">
    <h2>3. Development Process</h2>
    <p>
      The Development Process of the Yin-Style Yoga Application was where the
      ideas and designs truly came to life. Having established a clear vision
      during the planning and design phases, I was excited to bring all of the
      key features together using Angular, TypeScript, HTML and SCSS.
    </p>
    <p>
      Throughout the development journey, I aimed to create an application that
      is technically robust and easy to maintain. By leveraging Angular's
      component-based architecture, I ensured that the app remains modular,
      scalable, and flexible for future expansions.
    </p>
    <h3>Application Structure</h3>
    <p>
      During the transition from design to development it was time to bring all
      the planning and visual decisions made in the
      <strong>Design System</strong> to life within the actual structure of the
      app. Using Angular's <strong>component-based architecture</strong>, I was
      able to take the reusable components and patterns I had built in Figma and
      translate them into a modular, maintainable codebase.
    </p>
    <p>
      The variables.scss file, for example, was a direct reflection of the
      Design System's Color Collections and other foundational elements, such as
      box shadows, radius, and number scales. This alignment ensured that the
      app's visual consistency - established during the design phase - would be
      carried over seamlessly into the code.
    </p>
    <h4>Core Components</h4>
    <p>
      In Angular I structured the app around
      <strong>reusable components</strong>.
    </p>
    <ul>
      <li>
        <strong>Yoga Pose Component</strong>: This component is responsible for
        displaying yoga poses, dynamically rendered based on data stored in a
        JSON file. This component is reused throughout the library and
        individual routines.
      </li>
      <li>
        <strong>Filtering Component</strong>: The filtering component allows
        users to filter based on target areas. It communicates with its parent
        components using Angular's input and output bindings. It is reused in
        the library and the routines overview page.
      </li>
      <li>
        <strong>Breadcrumb Component</strong>: This component provides easy
        navigation for users by displaying the current path and dynamically
        updating based on the page or routine being viewed. It fetches yoga
        routine data from a JSON file to display relevant information in the
        breadcrumb trail.
      </li>
      <li>
        <strong>Global Components</strong>: The Main Menu and Footer components
        are part of the app's core structure.
      </li>
    </ul>
    <h4>Routing and Navigation</h4>
    <p>
      The application's navigation is powered by Angular's router, enabling
      smooth transitions between key pages.
    </p>
    <p>
      Dynamic routing is used to load individual yoga routines based on a URL
      parameter (slug), allowing users to explore specific routines in more
      detail. Features like scroll position restoration and anchor scrolling
      were also enabled to ensure a seamless and enjoyable user experience.
    </p>
    <h4>Data Management</h4>
    <p>
      All data for the app is managed using <strong>JSON files</strong> for yoga
      poses and routines, which are dynamically loaded through
      <strong>Angular's HttpClient service</strong>.
    </p>
    <p>
      This approach not only keeps the app flexible and easy to update but also
      allows for future scalability, including potential back-end integration
      for more dynamic content management.
    </p>
    <p>
      Here's an example of how the yoga pose data is fetched and used within the
      LibraryComponent:
    </p>

    <div class="scrollable-container">
      <pre class="radius-l">
        <code [innerHTML]="codeSnippet"></code>
      </pre>
    </div>

    <h4>Styling and Theming</h4>
    <p>The styling is divided into:</p>
    <ul>
      <li>
        <strong>Global Styles</strong>: These base styles and utility classes
        ensure consistency across the app, with variables for colors, fonts, and
        other core elements defined in the variables.scss file.
      </li>
      <li>
        <strong>Component-Specific Styles</strong>: To maintain flexibility and
        prevent conflicts, each component has its own SCSS file, making the
        styling modular and easy to manage as the application grows.
      </li>
    </ul>
    <h3>Development Workflow</h3>
    <p>
      Throughout the development of the Yin-Style Yoga Application, I followed a
      structured workflow to ensure the project was organized, trackable, and
      easy to maintain.
    </p>
    <p>
      At the heart of this process was Git for version control, with all project
      files stored in a GitHub repository. After the initial setup and first
      commit, I committed code regularly at key intervals as I developed new
      features and made updates. This allowed me to keep track of the project's
      progress and roll back changes if necessary.
    </p>
    <p>
      To maintain a smooth workflow, I regularly tested the application on
      different devices and browsers during development. This ensured that
      features like dynamic routing, filtering components, and responsive design
      were functioning correctly across various environments.
    </p>
    <p>
      As I continue to grow my development skills, I look forward to refining
      this workflow further by incorporating additional best practices like
      automated testing and continuous integration.
    </p>
  </div>
</section>

<section class="ptb-80 bg-light-brown-100">
  <div class="text-center m-middle container-m link-to-project">
    <h2>Explore the full Source Code on GitHub</h2>
    <p class="mb-32">
      If you're interested in exploring the code and seeing how the project was
      built in detail, feel free to visit the GitHub repository.
    </p>
    <a
      href="https://github.com/ko-ko-lo/kokolo-yoga"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button class="link d-flex align-items m-middle">
        Go to Repository
        <span class="material-icons" aria-hidden="true">open_in_new</span>
      </button>
    </a>
  </div>
</section>

<section class="bg-light-berry ptb-80">
  <div class="container-m m-middle">
    <h3>Summary: Development Process</h3>
    <p>
      The Development Process for the Yin-Style Yoga Application focused on
      building a robust and scalable structure using Angular's component-based
      architecture. With data managed dynamically through JSON files and styling
      handled using SCSS, the application remained visually consistent while
      providing a seamless user experience. Throughout development, I used Git
      and GitHub for version control, committing code regularly to ensure the
      project was organized and easy to manage.
    </p>
  </div>
</section>

<section id="section4" class="ptb-80">
  <div class="container-m m-middle">
    <h2>4. Future Plans</h2>
    <p>
      The development of the Yin-Style Yoga Application is just the beginning.
      Looking ahead, I have many exciting plans to expand the application's
      features and enhance the overall user experience. These plans focus not
      only on adding new functionality but also on deepening the customization
      options for users and creating a more personalized, immersive platform.
    </p>

    <h3>Long-Term Vision</h3>
    <p>
      Looking further into the future, my vision for the Yin-Style Yoga
      Application is to transform it into a more diverse and personalized
      platform, offering users a truly comprehensive Yin-Style Yoga experience:
    </p>
    <ul>
      <li>
        One exciting addition will be the
        <strong>integration of graphic videos</strong> of the yoga routines.
      </li>
      <li>
        I also plan to introduce <strong>user accounts</strong>, which will
        allow users to create and save personalized training plans, as well as
        track their progress through a history of completed sessions. This will
        make the app more tailored to each user's personal journey.
      </li>
      <li>
        A key part of the long-term vision involves regularly
        <strong>conducting usability testing</strong> to gather feedback
        directly from users. These insights will help inform future development
        and ensure the platform continues to evolve in ways that meet users'
        needs.
      </li>
      <li>
        As the platform grows, I aim to add new sections beyond Yin-Style Yoga,
        introducing users to <strong>Breathing Techniques</strong> and
        <strong>Meditation Practices</strong>. This expansion will allow users
        to explore other mindfulness practices and create a more well-rounded,
        holistic approach
      </li>
    </ul>
    <p>
      These long-term goals reflect my commitment to continuously improving the
      app, offering a deeper, more personalized experience, and expanding the
      platform to include a wider range of practices to support users' physical
      and mental well-being.
    </p>
  </div>
</section>

<section class="bg-light-berry ptb-80">
  <div class="container-m m-middle">
    <h3>Summary: Future Plans</h3>
    <p>
      Looking ahead, the Yin-Style Yoga Application will continue to grow with
      the addition of key features such as an expanded Yoga Pose Library, a
      search function, more filtering options. In the long term, I envision
      transforming the app into a fully personalized platform with user
      accounts, graphic videos, and new sections dedicated to Breathing
      Techniques and Meditation Practices.
    </p>
  </div>
</section>

<section id="section5" class="ptb-80">
  <div class="container-m m-middle">
    <h2>5. Final Reflections</h2>
    <p>
      Working on the Yin-Style Yoga web application has been a deeply personal
      and educational journey.
    </p>
    <p>
      One of the key takeaways from this experience was learning to
      <strong>embrace the process</strong>
      rather than rushing toward the end result. Preparing the yoga pose
      illustrations and carefully crafting the descriptive text for each pose
      took far longer than I initially expected. My early attempts to speed
      through these tasks left me unsatisfied with the quality, which led to a
      restart. It became clear that the real value lay in the journey itself -
      learning more about each pose and finding a way to convey its essence.
      <strong
        >By slowing down, I was able to produce content I could be proud
        of.</strong
      >
    </p>
    <p>
      A similar lesson applied to the visual design. My first attempt at the
      visual design wasn't quite right. It was too trendy and lacked the
      timeless simplicity I wanted. Although I created a prototype, I knew it
      wasn't ready for testing. Starting the design process again was the right
      decision, as it allowed me to create a design that truly felt aligned with
      the message I wanted the application to convey.
      <strong
        >Even with years of design experience, it's a reminder that sometimes
        you have to take a step back, reflect, and try again until the design
        feels just right.</strong
      >
    </p>
    <p>
      This project also reinforced the importance of focus and prioritization.
      It's easy to get caught up in the excitement of new ideas and want to
      implement every feature at once. But I learned that focusing on the
      essentials - building a strong foundation and taking things step by step -
      is the most effective way to make meaningful progress.
      <strong
        >For me, prioritization was challenging, but it was a crucial part of
        ensuring that the project moved forward in a manageable and successful
        way.</strong
      >
    </p>
    <p>
      On the development side, working with Angular was a rewarding experience.
      The more I learned, the more I appreciated the
      <strong>power and flexibility of the framework</strong>. That said, there
      were moments when small development challenges nearly got the better of me
      - like debugging a page-scrolling issue that, after hours of frustration,
      was solved with a simple line of code. These moments reminded me of the
      patience required in development, and the satisfaction that comes when a
      solution is finally found.
    </p>
    <p>
      <strong>Reflecting on the entire project</strong>, I've come to realize
      that:
    </p>
    <ul>
      <li>
        <strong>
          It's okay to take things slowly, as long as you keep moving forward.
        </strong>
      </li>
      <li>
        <strong
          >It's okay to restart, as long as you learn from the process.</strong
        >
      </li>
      <li>
        <strong>
          Having a vision for the product - focusing not on the minute details
          but on the overall feeling and purpose of the application - was what
          helped me stay motivated and see this project through to the end.
        </strong>
      </li>
    </ul>
  </div>
</section>

<section class="bg-light-berry ptb-80">
  <div class="container-m m-middle">
    <h3>Summary: Final Reflections</h3>
    <p>
      Working on the Yin-Style Yoga web application has been a profoundly
      personal and educational journey, teaching me invaluable lessons about
      both the creative process and my growth as a designer and developer.
      Embracing the journey rather than rushing toward the end result helped me
      create quality content I could truly be proud of. I learned the importance
      of focus and prioritization, realizing that building a strong foundation
      step by step is essential for meaningful progress. Throughout the
      development process, even when faced with challenges, I found joy in the
      solutions and deepened my appreciation for the craft. Ultimately, this
      project has enriched my technical skills while nurturing my understanding
      of perseverance and creativity.
    </p>
  </div>
</section>

<section class="container-m m-middle text-center ptb-80">
  <blockquote>
    "Life is like riding a bicycle. To keep your balance, you must keep moving."
  </blockquote>
  <cite>Albert Einstein</cite>
</section>
