<section class="mt-80 mb-64">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<section class="container-l pb-80">
  <picture>
    <source srcset="projects/jsonify.webp" type="image/webp" />
    <img
      src="projects/jsonify.jpg"
      alt=""
      class="m-middle radius-l elevation-xs max-width-m"
    />
  </picture>
</section>

<section class="bg-medium-blue bluebox text-center">
  <div class="container-l">
    <h2>Main Technical Tools</h2>
    <div class="d-flex flex-wrap gap-32">
      <div class="box-1 flex-wrap justify-between gap-32">
        <h3>API</h3>
        <p>Figma API</p>
      </div>
      <div class="box-1 flex-wrap justify-between gap-32">
        <h3>Core Web Technologies</h3>
        <p>JavaScript, TypeScript, CSS, HTML</p>
      </div>
      <div class="box-1 flex-wrap justify-between gap-32">
        <h3>Design Tool</h3>
        <p>Figma Design</p>
      </div>
    </div>
  </div>
</section>

<section class="text-center m-middle container-m link-to-project">
  <h2 class="mt-80">Explore Jsonify on Figma Community</h2>
  <p class="mb-32 container">
    Take a peek at the product page to learn more and maybe see Jsonify in
    action!
  </p>
  <a
    href="https://www.figma.com/community/plugin/1437780775818955662"
    target="_blank"
    rel="noopener noreferrer"
  >
    <button class="link d-flex align-items m-middle">
      Explore Jsonify
      <span class="material-icons" aria-hidden="true">open_in_new</span>
    </button>
  </a>
</section>
<!--
<section class="bg-light-brown ptb-80 mt-80">
  <div class="container-m m-middle text-center">
    <h2>Table of Contents</h2>
    <h3>
      <a (click)="scrollTo('section1')">1. Purpose &amp; Goals</a>
    </h3>
    <h3>
      <a (click)="scrollTo('section2')">2. Architecture</a>
    </h3>
    <h3>
      <a (click)="scrollTo('section3')">3. Visual Design &amp; User Flow</a>
    </h3>
    <h3><a (click)="scrollTo('section4')">4. Development Insights</a></h3>
    <h3>
      <a (click)="scrollTo('section5')">5. Reflections</a>
    </h3>
  </div>
</section>
-->
