@use "../../../../styles/tokens" as token;

.jsonify-ui {
  max-height: 560px;
}

.link-to-project a:hover {
  text-decoration: none;
}

.link-to-project .material-icons {
  padding-left: token.$spacing-unit-large;
}

.medium-brown {
  color: token.$violet-500;
}

.medium-berry {
  color: token.$ochre-500;
}

.medium-blue {
  color: token.$teal-300;
}

.thanks {
  font-size: 2.5rem;
}

figcaption {
  text-align: left;
}

.box {
  flex: 0 0 calc(50% - 16px);
  box-sizing: border-box;
}

@media (max-width: 390px) {
  .thanks {
    font-size: 1.5rem;
  }
}
