@use "../../../../styles/tokens" as token;

.jsonify-ui {
  max-height: 560px;
}

.link-to-project a:hover {
  text-decoration: none;
}

.link-to-project .material-icons {
  padding-left: token.$spacing-unit-large;
}

.medium-brown {
  color: token.$violet-500;
}

.medium-berry {
  color: token.$ochre-500;
}

.medium-blue {
  color: token.$teal-500;
}
