.box-large {
  flex: 3;
}

.box-small {
  flex: 1;
}

img.robot {
  max-height: 430px;
}

@media (max-width: 768px) {
  .box-1 {
    flex: 1;
  }
}

@media (max-width: 390px) {
  .box-1 {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
