<section class="text-center">
  <div class="container-l">
    <h2>Technical Tools used</h2>
    <div class="d-flex flex-wrap gap-32">
      <div
        class="box-1 flex-wrap justify-between gap-32 toolbox border-standard radius-l"
      >
        <h3>{{ headlineTools1 }}</h3>
        <p>{{ textTools1 }}</p>
      </div>

      <div
        class="box-1 flex-wrap justify-between gap-32 toolbox border-standard radius-l"
      >
        <h3>{{ headlineTools2 }}</h3>
        <p>{{ textTools2 }}</p>
      </div>
      <div
        class="box-1 flex-wrap justify-between gap-32 toolbox border-standard radius-l"
      >
        <h3>{{ headlineTools3 }}</h3>
        <p>{{ textTools3 }}</p>
      </div>
    </div>
  </div>
</section>
