<section class="mt-80 mb-64">
  <div class="intro container-m text-center m-middle">
    <h1>The Beauty of Connection without words</h1>
  </div>
</section>

<section class="container d-flex gap-16 m-middle">
  <div class="box-1">
    <img src="art/preview/rooted.jpg" alt="" />
  </div>
  <div class="box-1">
    <img src="art/preview/stillness.jpg" alt="" />
  </div>
  <div class="box-1 mb-48">
    <img src="art/preview/dance.jpg" alt="" />
  </div>
</section>

<section class="container-m text-center m-middle">
  <p>
    This series of mixed digital art captures the essence of human connection,
    weaving a tapestry of emotions that transcends the physical world. Each
    piece speaks to the quiet, profound understanding that we can be united with
    others even in moments of solitude, distance, or silence. It's a reminder
    that true connection doesn't depend on proximity; it grows in the unseen,
    the unspoken, and the felt.
  </p>
  <p>
    At its heart, the series celebrates the invisible threads that tie us to one
    another. Whether through the joyful energy of dancing and laughing together,
    or the peaceful simplicity of sharing a sunset in silence, these moments
    reflect the idea that connection is not always about being side by side.
    It's about feeling the rhythm of another person's presence.
  </p>
  <p class="mb-80">
    This work captures the beauty of paths that may diverge yet still carry the
    essence of a shared journey.
  </p>
</section>

<section class="container-m m-middle">
  <img src="art/rooted.jpg" alt="" class="mb-120" />
  <img src="art/stillness.jpg" alt="" class="mb-120" />
  <img src="art/dance.jpg" alt="" class="mb-120" />
</section>

<section class="container-m m-middle text-center ptb-80">
  <p class="highlighted mb-120">
    The connection of souls doesn't fade with distance or time - it lingers,
    quietly, like a melody you can still hear in your heart, even when the song
    has ended.
  </p>
</section>
