<nav class="container-l mt-24 mb-80">
  <a routerLink="/art" class="breadcrumb">
    <span class="material-icons">arrow_back</span> Art Overview
  </a>
</nav>

<section class="container d-flex gap-16 m-middle">
  <div class="box-1">
    <picture>
      <source srcset="art/preview/rooted.webp" type="image/webp" />
      <img src="art/preview/rooted.jpg" alt="" />
    </picture>
  </div>
  <div class="box-1">
    <picture>
      <source srcset="art/preview/stillness.webp" type="image/webp" />
      <img src="art/preview/stillness.jpg" alt="" />
    </picture>
  </div>
  <div class="box-1 mb-48">
    <picture>
      <source srcset="art/preview/dance.webp" type="image/webp" />
      <img src="art/preview/dance.jpg" alt="" />
    </picture>
  </div>
</section>

<div class="intro container-l text-center m-middle">
  <h1>The Beauty of Connection without words</h1>
</div>

<section class="container-m text-center m-middle">
  <p>
    This series of mixed digital art captures the essence of human connection,
    weaving a tapestry of emotions that transcends the physical world. Each
    piece speaks to the quiet, profound understanding that we can be united with
    others even in moments of solitude, distance, or silence. It's a reminder
    that true connection doesn't depend on proximity; it grows in the unseen,
    the unspoken, and the felt.
  </p>
  <p>
    At its heart, the series celebrates the invisible threads that tie us to one
    another. Whether through the joyful energy of dancing and laughing together,
    or the peaceful simplicity of sharing a sunset in silence, these moments
    reflect the idea that connection is not always about being side by side.
    It's about feeling the rhythm of another person's presence.
  </p>
  <p>
    This work captures the beauty of paths that may diverge yet still carry the
    essence of a shared journey.
  </p>
</section>

<app-divider></app-divider>

<section class="container-m m-middle">
  <picture>
    <source srcset="art/rooted.webp" type="image/webp" />
    <img src="art/rooted.jpg" alt="" class="mb-120" />
  </picture>
  <picture>
    <source srcset="art/stillness.webp" type="image/webp" />
    <img src="art/stillness.jpg" alt="" class="mb-120" />
  </picture>
  <picture>
    <source srcset="art/dance.webp" type="image/webp" />
    <img src="art/dance.jpg" alt="" class="mb-120" />
  </picture>
</section>

<app-divider></app-divider>

<app-my-quote [myQuote]="text"></app-my-quote>
