<section class="mt-80 mb-80">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<section class="bg-light-neutral ptb-80">
  <div class="container-l m-middle text-center">
    <h2>Collections of Art</h2>
  </div>
  <app-artworks></app-artworks>
</section>

<section class="text-center container-m m-middle">
  <p class="highlighted ptb-80 text-italic">
    In both, Art and Software Development, you start with an idea and a feeling
    - an abstract concept that can't always be put into words. The process is
    experimental and iterative.
    <br /><br />
    Whether I'm sketching on paper or writing code, both paths need discovery,
    patience and creativity to find the right solution.
  </p>
</section>
