<section class="mt-80 mb-80">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<app-divider></app-divider>

<section>
  <div class="container-l m-middle text-center">
    <h2>Collections of Art</h2>
  </div>
  <app-artworks></app-artworks>
</section>

<app-divider></app-divider>

<app-my-quote
  text="In both, Art and Software Development, you start with an idea and a feeling  - an abstract concept that can't always be put into words. The process is experimental and iterative. Whether I'm sketching or writing code, both paths need discovery, patience and creativity."
></app-my-quote>
