@use "../../../styles/variables" as variables;
@use "../../../styles/utilities" as utilities;
@use "../../../styles/semantic" as semantic;
@use "../../../styles/tokens" as token;

img {
  max-height: 9rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: token.$spacing-unit-large * 2;
  margin-top: token.$spacing-unit-large * 3;
}

.social-icons a img {
  width: token.$spacing-unit-large * 5;
  height: token.$spacing-unit-large * 5;
  transition: transform 0.3s ease-in-out;
}

.social-icons a:hover img {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

@media (max-width: token.$breakpoint-tablet) {
  img {
    max-height: 7rem;
  }
}
