<section class="mt-80 mb-80">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<section class="ptb-80">
  <app-content-reflections></app-content-reflections>
</section>

<section class="container-m m-middle text-center ptb-80">
  <blockquote>
    "I guess I'm pretty much of a lone wolf. I don't say I don't like people at
    all, but, to tell you the truth, I only like it then if I have a chance to
    look deep into their hearts and their minds."
  </blockquote>
  <cite>Bela Lugosi</cite>
</section>
