@use "../../../styles/variables" as variables;
@use "../../../styles/utilities" as utilities;

header {
  background-color: variables.$footer-background;
}

.navbar {
  padding: variables.$spacing-unit-small * 6 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul,
.sub-nav ul {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 6%;
  font-weight: variables.$font-weight-light;
}

ul {
  padding: 0;
}

.nav-menu {
  display: none;
  list-style: none;
  display: flex;
  gap: variables.$spacing-unit-large * 5;

  .nav-item {
    position: relative; /* Allows absolute positioning inside */

    a {
      text-decoration: none;
      color: variables.$font-color-body;
      position: relative; /* Needed for the underline positioning */

      &.active-link {
        text-shadow: 0px 0px 1px #fff; /* bold without friction when hovering */
        cursor: default;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -26px;
          width: 100%;
          border-radius: variables.$radius-m;
          height: 4px;
          background-color: variables.$color-berry-300;
        }
      }

      &:hover {
        text-shadow: 0px 0px 1px #fff;
      }
    }
  }
}

.menu-toggle {
  all: unset;
  display: none; /* Hamburger: Hidden on larger screens */
  right: 0;
  z-index: 10000;
}

.menu-position {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 999;

  &.no-margin {
    margin-bottom: 0; /* No margin on yoga-routines pages */
  }
}

/* Exclude navigation elements from the fade-in effect */
.navbar {
  opacity: 1 !important;
  animation: none !important;
}

@media (max-width: 767px) {
  .nav-menu {
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    position: fixed; /* Make sure it overlays everything */
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh; /* Full screen */
    background: variables.$background-color;
    z-index: 9999;
    padding-top: variables.$spacing-unit-large * 4;
    align-items: center;
  }

  .nav-menu.active {
    opacity: 1;
    visibility: visible;
    display: flex; /* Show menu */
    top: 70px;
  }

  .navbar ul li {
    font-size: 1.2rem;
  }

  .menu-open .container {
    padding: 0;
  }

  .menu-open .navbar {
    padding: 1.125rem 0;
  }

  .menu-open .container .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-menu .nav-item a.active-link::after {
    bottom: -8px;
  }

  .menu-toggle {
    display: flex; /* Visible only on mobile screens */
    flex-direction: column;
    gap: variables.$spacing-unit-small * 3;
    cursor: pointer;
  }

  ul li:first-child.nav-item {
    padding-top: variables.$spacing-unit-small * 6;
  }
}
