// _utilities.scss
@use "./variables" as variables;

// ========================================================================
// Radius
// ========================================================================
.radius-s {
  border-radius: variables.$radius-s;
}

.radius-m {
  border-radius: variables.$radius-m;
}

.radius-l {
  border-radius: variables.$radius-l;
}

// ========================================================================
// Text Utilities
// ========================================================================
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-italic {
  font-style: italic;
}

// ========================================================================
// Background Colors
// ========================================================================
.bg-white {
  background-color: variables.$color-neutral-50;
}

.bg-light-blue {
  background-color: variables.$bg-light-blue;
}

.bg-light-brown {
  background-color: variables.$bg-light-brown;
}

.bg-light-brown-100 {
  background-color: variables.$bg-light-brown-100;
}

.bg-light-berry {
  background-color: variables.$bg-light-berry;
}

.bg-light-neutral {
  background-color: variables.$bg-light-neutral;
}

.bg-medium-blue {
  background-color: variables.$bg-medium-blue;
}

.bg-medium-brown {
  background-color: variables.$bg-medium-brown;
}

.bg-medium-berry {
  background-color: variables.$bg-medium-berry;
}

.bg-dark-neutral {
  background-color: variables.$bg-dark-neutral;
}

// ========================================================================
// Flex Utilities
// ========================================================================
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.box-1 {
  flex: 1;
}

.box-2 {
  flex: 2;
}

// ========================================================================
// Margin and Padding
// ========================================================================
// Margin
.mb-16 {
  margin-bottom: variables.$spacing-unit-large * 2;
}

.mb-24 {
  margin-bottom: variables.$spacing-unit-large * 3;
}

.mb-32 {
  margin-bottom: variables.$spacing-unit-large * 4;
}

.mb-48 {
  margin-bottom: variables.$spacing-unit-large * 6;
}

.mb-56 {
  margin-bottom: variables.$spacing-unit-large * 7;
}

.mb-64 {
  margin-bottom: variables.$spacing-unit-large * 8;
}

.mb-80 {
  margin-bottom: variables.$spacing-unit-large * 10;
}

.mb-88 {
  margin-bottom: variables.$spacing-unit-large * 11;
}

.mb-104 {
  margin-bottom: variables.$spacing-unit-large * 13;
}

.mb-120 {
  margin-bottom: variables.$spacing-unit-large * 15;
}

.m-middle {
  margin: 0 auto;
}

.mt-8 {
  margin-top: variables.$spacing-unit-large;
}

.mt-48 {
  margin-top: variables.$spacing-unit-large * 6;
}

.mt-80 {
  margin-top: variables.$spacing-unit-large * 10;
}

.mt-120 {
  margin-top: variables.$spacing-unit-large * 15;
}

//Padding
.pd-16 {
  padding: variables.$spacing-unit-large * 2;
}

.ptb-80 {
  padding: variables.$spacing-unit-large * 10 0;
}

.pb-80 {
  padding-bottom: variables.$spacing-unit-large * 10;
}

.pt-32 {
  padding-top: variables.$spacing-unit-large * 4;
}

// ========================================================================
// Display
// ========================================================================
.d-none {
  display: none;
}

// ========================================================================
// Gap
// ========================================================================
.gap-16 {
  gap: variables.$spacing-unit-large * 2;
}

.gap-32 {
  gap: variables.$spacing-unit-large * 4;
}

// ========================================================================
// Elevation
// ========================================================================
.elevation-xs {
  box-shadow: variables.$elevation-xs;
}

.elevation-s {
  box-shadow: variables.$elevation-s;
}

// ========================================================================
// Max-Width
// ========================================================================
.max-width-s {
  max-width: variables.$max-width-s;
}

.max-width-m {
  max-width: variables.$max-width-m;
}

.max-width-l {
  max-width: variables.$max-width-l;
}

// ========================================================================
// Responsive Design
// ========================================================================
@media (max-width: variables.$breakpoint-tablet) {
  .gap-32 {
    gap: variables.$spacing-unit-large * 3;
  }
  .box-1,
  .box-2 {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .mt-80 {
    margin-top: variables.$spacing-unit-large * 6;
  }

  .mb-80 {
    margin-bottom: variables.$spacing-unit-large * 8;
  }

  .mb-120 {
    margin-bottom: variables.$spacing-unit-large * 8;
  }

  .mt-120 {
    margin-top: variables.$spacing-unit-large * 8;
  }

  .ptb-80 {
    padding: variables.$spacing-unit-large * 8 0;
  }
}
@media (max-width: variables.$breakpoint-mobile) {
  .gap-32 {
    gap: variables.$spacing-unit-large * 2;
  }
}
