// _utilities.scss
@use "./variables" as variables;

// ========================================================================
// Radius
// ========================================================================
.radius-s {
  border-radius: variables.$radius-s;
}

.radius-m {
  border-radius: variables.$radius-m;
}

.radius-l {
  border-radius: variables.$radius-l;
}

// ========================================================================
// Text Utilities
// ========================================================================
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-italic {
  font-style: italic;
}

// ========================================================================
// Flex Utilities
// ========================================================================
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: baseline;
}

.d-flex {
  display: flex;
}

.box-1 {
  flex: 1;
}

.box-2 {
  flex: 2;
}

// ========================================================================
// Margin and Padding
// ========================================================================
// Margin
.mb-8 {
  margin-bottom: variables.$spacing-unit-large;
}

.mb-16 {
  margin-bottom: variables.$spacing-unit-large * 2;
}

.mb-24 {
  margin-bottom: variables.$spacing-unit-large * 3;
}

.mb-32 {
  margin-bottom: variables.$spacing-unit-large * 4;
}

.mb-40 {
  margin-bottom: variables.$spacing-unit-large * 5;
}

.mb-48 {
  margin-bottom: variables.$spacing-unit-large * 6;
}

.mb-56 {
  margin-bottom: variables.$spacing-unit-large * 7;
}

.mb-64 {
  margin-bottom: variables.$spacing-unit-large * 8;
}

.mb-80 {
  margin-bottom: variables.$spacing-unit-large * 10;
}

.mb-88 {
  margin-bottom: variables.$spacing-unit-large * 11;
}

.mb-104 {
  margin-bottom: variables.$spacing-unit-large * 13;
}

.mb-120 {
  margin-bottom: variables.$spacing-unit-large * 15;
}

.m-middle {
  margin: 0 auto;
}

.mt-8 {
  margin-top: variables.$spacing-unit-large;
}

.mt-24 {
  margin-top: variables.$spacing-unit-large * 3;
}

.mt-40 {
  margin-top: variables.$spacing-unit-large * 5;
}

.mt-48 {
  margin-top: variables.$spacing-unit-large * 6;
}

.mt-64 {
  margin-top: variables.$spacing-unit-large * 8;
}

.mt-80 {
  margin-top: variables.$spacing-unit-large * 10;
}

.mt-88 {
  margin-top: variables.$spacing-unit-large * 11;
}

.mt-120 {
  margin-top: variables.$spacing-unit-large * 15;
}

//Padding
.pd-16 {
  padding: variables.$spacing-unit-large * 2;
}

.ptb-80 {
  padding: variables.$spacing-unit-large * 10 0;
}

.ptb-96 {
  padding: variables.$spacing-unit-large * 12 0;
}

.pb-24 {
  padding-bottom: variables.$spacing-unit-large * 3;
}

.pb-32 {
  padding-bottom: variables.$spacing-unit-large * 4;
}

.pb-80 {
  padding-bottom: variables.$spacing-unit-large * 10;
}

.pb-96 {
  padding-bottom: variables.$spacing-unit-large * 12;
}

.pt-32 {
  padding-top: variables.$spacing-unit-large * 4;
}

// ========================================================================
// Display
// ========================================================================
.d-none {
  display: none;
}

// ========================================================================
// Gap
// ========================================================================
.gap-16 {
  gap: variables.$spacing-unit-large * 2;
}

.gap-32 {
  gap: variables.$spacing-unit-large * 4;
}

// ========================================================================
// Elevation
// ========================================================================
.elevation-xs {
  box-shadow: variables.$elevation-xs;
}

.elevation-s {
  box-shadow: variables.$elevation-s;
}

// ========================================================================
// Max-Width
// ========================================================================
.max-width-s {
  max-width: variables.$max-width-s;
}

.max-width-m {
  max-width: variables.$max-width-m;
}

.max-width-l {
  max-width: variables.$max-width-l;
}

// ========================================================================
// Border
// ========================================================================
.border-bottom {
  border-bottom: 1px solid variables.$color-neutral-400;
}

.border-left {
  border-left: 2px solid variables.$color-berry-400;
  padding: variables.$spacing-unit-large * 2 0;
}

// ========================================================================
// Responsive Design
// ========================================================================
@media (max-width: variables.$breakpoint-tablet) {
  .gap-32 {
    gap: variables.$spacing-unit-large * 3;
  }
  .box-1,
  .box-2 {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .mt-80 {
    margin-top: variables.$spacing-unit-large * 6;
  }

  .mb-80 {
    margin-bottom: variables.$spacing-unit-large * 8;
  }

  .mb-120 {
    margin-bottom: variables.$spacing-unit-large * 8;
  }

  .mt-120 {
    margin-top: variables.$spacing-unit-large * 8;
  }

  .ptb-80 {
    padding: variables.$spacing-unit-large * 8 0;
  }
}
@media (max-width: variables.$breakpoint-mobile) {
  .gap-32 {
    gap: variables.$spacing-unit-large * 2;
  }
}
