@use "../../../styles/variables" as variables;
@use "../../../styles/utilities" as utilities;

.scenario {
  color: variables.$color-brown-100;
  max-width: 604px;
  border-left: 3px solid variables.$color-berry-400;
  padding-left: variables.$spacing-unit-large * 2;
}
