@use "../../../../styles/tokens" as token;

.link {
  text-decoration: none;
  gap: token.$spacing-unit-large;
}

.link-to-project a:hover {
  text-decoration: none;
}

img.user-flow {
  max-height: 700px;
}

.link-to-project h3 {
  margin-top: 0;
}

.technical-tools .border-standard {
  padding-bottom: token.$spacing-unit-large * 5;
}
