@use "../../../../styles/tokens" as token;

.link {
  text-decoration: none;
  gap: token.$spacing-unit-large;
}

img.user-flow {
  max-height: 700px;
}

.technical-tools .border-standard {
  padding-bottom: token.$spacing-unit-large * 5;
}
