@use "../../../../styles/variables" as variables;
@use "../../../../styles/utilities" as utilities;

.link {
  text-decoration: none;
  gap: variables.$spacing-unit-large;
}

.link-to-project a:hover {
  text-decoration: none;
}

.material-icons {
  font-size: 1.2rem;
}

img.user-flow {
  max-height: 700px;
}

.link-to-project h3 {
  margin-top: 0;
}

.technical-tools .border-standard {
  padding-bottom: variables.$spacing-unit-large * 5;
}
