@use "../../../styles/tokens" as token;

code {
  color: token.$ochre-500;
  line-height: token.$lineheight-m;
  font-size: token.$spacing-unit-small * 8;
  cursor: pointer;
}

pre {
  background: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: token.$spacing-unit-large * 10;
}
