@use "../../../styles/variables" as variables;
@use "../../../styles/utilities" as utilities;

.bg-blue {
  padding: variables.$spacing-unit-large * 5 variables.$spacing-unit-large * 4
    variables.$spacing-unit-large * 10;
  background-color: variables.$color-blue-100;
}

a {
  color: variables.$color-brown-900;
}

a:hover {
  text-decoration: none;
}

a:hover .bg-blue {
  background-color: variables.$color-blue-50;
  transition: background-color 0.3s ease;
}

@media (max-width: variables.$breakpoint-tablet) {
  .bg-blue {
    padding: variables.$spacing-unit-large * 2 variables.$spacing-unit-large * 2
      variables.$spacing-unit-large * 5;
  }
}
