<section class="mt-80 mb-80">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<section class="container-l mb-80">
  <a routerLink="yin-style-yoga-application">
    <div class="bg-blue radius-l d-flex flex-wrap gap-32 elevation-s">
      <div class="box-1">
        <h3>Bringing Yoga to Life: My Heart Project</h3>
        <p>
          The project is a web application that merges my passion for yoga,
          design and development.
        </p>
        <p class="mb-24">
          This project was born from my personal journey in yoga, combining
          thoughtful illustrations and dynamic content to create a calming,
          user-friendly platform for Yin-Style Yoga. It's a true reflection of
          my love for crafting meaningful digital experiences that inspire
          mindfulness and well-being.
        </p>
      </div>
      <div class="box-2">
        <picture>
          <source srcset="projects/teaser-img.webp" type="image/webp" />
          <img src="projects/teaser-img.png" alt="" />
        </picture>
      </div>
    </div>
  </a>
</section>

<section class="bg-light-berry ptb-80">
  <div class="container-l">
    <h2>Figma Plugin Development</h2>
    <app-project-card></app-project-card>
  </div>
</section>
