<section class="mt-80 mb-80">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<app-divider></app-divider>

<section class="container-l">
  <div class="d-flex flex-wrap gap-32">
    <div class="box-1">
      <h2>
        OpenStillness: <br />A Digital Space for Yin-Style Yoga, Meditation &
        Breathwork
      </h2>
      <a
        routerLink="/projects/open-stillness-application"
        class="button mt-40 mb-32"
        >Explore the project</a
      >
    </div>
    <div class="box-2">
      <app-collage-yoga></app-collage-yoga>
    </div>
  </div>
</section>

<app-divider></app-divider>

<section>
  <div class="container-l">
    <h2 class="text-center mb-64">Figma Plugin Development</h2>
    <app-project-card></app-project-card>
  </div>
</section>
