<nav class="container-l mt-24 mb-80">
  <a routerLink="/art" class="breadcrumb">
    <span class="material-icons">arrow_back</span> Art Overview
  </a>
</nav>

<section>
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<app-divider></app-divider>

<section class="container-m m-middle">
  <picture>
    <source srcset="art/water-poem.webp" type="image/webp" />
    <img src="art/water-poem.jpg" alt="" class="mb-120" />
  </picture>
  <picture>
    <source srcset="art/rest.webp" type="image/webp" />
    <img src="art/rest.jpg" alt="" class="mb-120" />
  </picture>
  <picture>
    <source srcset="art/sun.webp" type="image/webp" />
    <img src="art/sun.jpg" alt="" class="mb-120" />
  </picture>
</section>

<section class="container snail m-middle">
  <picture>
    <source srcset="art/snail.webp" type="image/webp" />
    <img src="art/snail.jpg" alt="" class="mb-120" />
  </picture>
</section>

<app-quote
  [title]="
    '“What you do makes a difference, and you have to decide what kind of difference you want to make.”'
  "
  [text]="'Jane Goodall'"
></app-quote>

<section
  class="container-l flex-row flex-wrap justify-between gap-32 mb-120 mt-120"
>
  <div class="box-1">
    <picture>
      <source srcset="art/tree-poem.webp" type="image/webp" />
      <img src="art/tree-poem.jpg" alt="" />
    </picture>
  </div>
  <div class="box-1">
    <picture>
      <source srcset="art/tree-structure.webp" type="image/webp" />
      <img src="art/tree-structure.jpg" alt="" />
    </picture>
  </div>
</section>
