<nav class="container-l mt-24 mb-80">
  <a routerLink="/art" class="breadcrumb">
    <span class="material-icons">arrow_back</span> Back
  </a>
</nav>

<section class="container d-flex gap-16 m-middle">
  <div class="box-1 mb-48">
    <picture>
      <source srcset="art/preview/bird.webp" type="image/webp" />
      <img src="art/preview/bird.jpg" alt="" />
    </picture>
  </div>
  <div class="box-1">
    <picture>
      <source srcset="art/preview/light.webp" type="image/webp" />
      <img src="art/preview/light.jpg" alt="" />
    </picture>
  </div>
  <div class="box-1 mb-48">
    <picture>
      <source srcset="art/preview/lighthand.webp" type="image/webp" />
      <img src="art/preview/lighthand.jpg" alt="" />
    </picture>
  </div>
</section>

<h1 class="container-l text-center">Connection between Human and Nature</h1>

<div class="container-m text-center m-middle">
  <p>
    In this series of illustrations, I explore the profound and delicate
    connection between humanity and nature. Inspired by my walks in nature, I
    visualize the deep connection we share with the earth around us. Nature has
    a way of recharging our souls, offering us its energy, its peace, and its
    guidance. Through a conscious connection with nature, we can replenish
    ourselves, finding balance and renewal in its rhythms.
  </p>
  <p class="mb-80">
    Each piece in this series reflects impressions from my time in
    nature—moments where the simple act of being present in the environment
    becomes a source of strength and inspiration.
  </p>
</div>

<app-divider></app-divider>

<section class="container-m m-middle">
  <picture>
    <source srcset="art/bird.webp" type="image/webp" />
    <img src="art/bird.jpg" alt="" class="mb-120" />
  </picture>
  <picture>
    <source srcset="art/light.webp" type="image/webp" />
    <img src="art/light.jpg" alt="" class="mb-120" />
  </picture>
</section>

<section class="container m-middle">
  <picture>
    <source srcset="art/lighthand.webp" type="image/webp" />
    <img src="art/lighthand.jpg" alt="" class="mb-120" />
  </picture>
</section>
