<section class="mt-80 mb-64">
  <div class="intro container-m text-center m-middle">
    <h1>Connection between Human and Nature</h1>
  </div>
</section>

<section class="container d-flex gap-16 m-middle">
  <div class="box-1">
    <img src="art/preview/bird.jpg" alt="" />
  </div>
  <div class="box-1">
    <img src="art/preview/light.jpg" alt="" />
  </div>
  <div class="box-1 mb-48">
    <img src="art/preview/lighthand.jpg" alt="" />
  </div>
</section>

<section class="container-m text-center m-middle">
  <p>
    In this series of illustrations, I explore the profound and delicate
    connection between humanity and nature. Inspired by my walks in nature, I
    visualize the deep connection we share with the earth around us. Nature has
    a way of recharging our souls, offering us its energy, its peace, and its
    guidance. Through a conscious connection with nature, we can replenish
    ourselves, finding balance and renewal in its rhythms.
  </p>
  <p class="mb-80">
    Each piece in this series reflects impressions from my time in
    nature—moments where the simple act of being present in the environment
    becomes a source of strength and inspiration.
  </p>
</section>

<section class="container-m m-middle">
  <img src="art/bird.jpg" alt="" class="mb-120" />
  <img src="art/light.jpg" alt="" class="mb-120" />
</section>

<section class="container mb-120">
  <img src="art/lighthand.jpg" alt="" class="m-middle" />
</section>
