@use "../../../styles/variables" as variables;
@use "../../../styles/utilities" as utilities;

.intro-img {
  max-height: 13.89rem;
}

.max-width {
  max-width: 890px;
}

.img-yoga {
  max-width: 1034px;
}

.about-me {
  max-width: 643px;
}

.border-top {
  border-top: 3px solid #7694a2;
}

.highlighted {
  margin: 0;
}

@media (max-width: 1200px) {
  .box:nth-child(3) {
    display: none;
  }
}

@media (max-width: 560px) {
  .hero {
    text-align: center;
  }
  .intro-img {
    max-height: 11rem;
  }
  .mobile-middle {
    margin: 0 auto;
  }
  .box:nth-child(2) {
    display: none;
  }
}
