<app-hero-home></app-hero-home>

<app-divider></app-divider>

<app-intro-button
  headline="Discover My Work"
  text="Step into my latest project and see how I blend design and development to bring ideas to life. Inspired by my personal journey with yoga, this platform was created to offer a calm, intuitive space for Yin-Style Yoga, Meditation, and Breathwork - helping users find balance through mindful digital experiences."
  label="Take a look"
  route="projects/open-stillness-application"
></app-intro-button>

<div class="mt-88 container-m m-middle">
  <app-collage-yoga></app-collage-yoga>
</div>

<app-divider></app-divider>

<app-intro-button
  headline="Who I Am"
  text="Every project I take on begins with curiosity and a deep desire to understand. Whether unraveling the logic behind development or shaping intuitive designs, I strive to go beyond the surface. Discover my journey and what fuels my passion for bringing ideas to life."
  label="Get to Know Me"
  route="/about-me"
></app-intro-button>

<app-divider></app-divider>

<app-intro-button
  headline="Reflections on the Process"
  text="In my blog, I explore the challenges, insights, and lessons learned along the way. From design principles and user experience to development and personal growth, this is where I share my journey - both technical and creative."
  label="Explore the Blog"
  route="/blog"
></app-intro-button>

<div class="mt-88"></div>

<app-blog-card [articles]="firstThreeArticles"></app-blog-card>
