<section class="mt-80 mb-64">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<section class="container-l pb-80">
  <img
    src="projects/hexify-teaser.jpg"
    alt=""
    class="m-middle radius-l elevation-xs max-width-m"
  />
</section>

<section class="bg-medium-blue bluebox text-center">
  <div class="container-l">
    <h2>Technical Tools used</h2>
    <div class="d-flex flex-wrap gap-32">
      <div class="box-1 flex-wrap justify-between gap-32">
        <h3>Design &amp; API</h3>
        <p>Figma Design, Figma API</p>
      </div>
      <div class="box-1 flex-wrap justify-between gap-32">
        <h3>Core Web Technologies</h3>
        <p>JavaScript, TypeScript, CSS, HTML</p>
      </div>
      <div class="box-1 flex-wrap justify-between gap-32">
        <h3>Build &amp; Module Bundling</h3>
        <p>Webpack</p>
      </div>
    </div>
  </div>
</section>
