.plugin-img {
  max-height: 450px;
}

.toolbox h4 {
  margin-top: 0;
}

.flower-hearts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flower-hearts-pd {
  padding: 56px 32px 0;
}
