@use "../../../../styles/tokens" as token;

.plugin-img {
  max-height: 450px;
}

.toolbox h4 {
  margin-top: 0;
}

.flower-hearts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flower-hearts-pd {
  padding: 56px 32px 0;
}

figcaption {
  text-align: left;
}

@media (max-width: 768px) {
  .d-flex {
    flex-wrap: wrap;
  }

  .gap-32 {
    gap: token.$spacing-unit-large * 4;
  }
}
