<section class="collage">
  <div class="row row-top">
    <picture class="collage-flowers">
      <source srcset="general/preview-flowers.webp" type="image/webp" />
      <img
        src="general/preview-flowers.png"
        alt="Flowers"
        class="collage-item"
      />
    </picture>

    <picture class="collage-logo">
      <source srcset="general/preview-logo.webp" type="image/webp" />
      <img src="general/preview-logo.png" alt="Logo" class="collage-item" />
    </picture>
  </div>

  <div class="row row-bottom">
    <picture class="collage-text">
      <source srcset="general/preview-text.webp" type="image/webp" />
      <img src="general/preview-text.png" alt="Text" class="collage-item" />
    </picture>

    <picture class="collage-heart">
      <source srcset="general/preview-heart.webp" type="image/webp" />
      <img src="general/preview-heart.png" alt="Heart" class="collage-item" />
    </picture>

    <picture class="collage-seal">
      <source srcset="general/preview-seal.webp" type="image/webp" />
      <img src="general/preview-seal.png" alt="Seal" class="collage-item" />
    </picture>
  </div>
</section>
