@use "../../../styles/tokens" as token;

#card .padding {
  padding-top: 0;
}

.box {
  flex: 0 0 calc(33% - 16px);
}

#card img {
  max-height: 100%;
}

@media (max-width: 768px) {
  .box {
    flex: 0 0 calc(50% - 12px);
  }
}

@media (max-width: 390px) {
  .box {
    flex: 0 100%;
  }
}
