@use "../../../styles/variables" as variables;
@use "../../../styles/utilities" as utilities;

#card .padding {
  padding-top: 0;
}

.box {
  flex: 0 0 calc(33% - 16px);
}

#card img {
  max-height: 100%;
}

@media (max-width: variables.$breakpoint-tablet) {
  .box {
    flex: 0 100%;
  }
}
