@use "styles/variables" as variables;
@use "styles/utilities" as utilities;

// ========================================================================
// Base Styles
// ========================================================================
html {
  font-size: 18px; /* Setting base size for rem calculations */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: variables.$font-weight-regular;
  line-height: variables.$lineheight-m;
  margin: 0;
  padding: 0;
  color: variables.$color-brown-900;
}

.container,
.container-m,
.container-l {
  padding: 0 variables.$global-pd-desktop;
}

.container-m {
  max-width: variables.$max-width-m;
}

.container-l {
  max-width: variables.$max-width-l;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

figure {
  margin: 0;
}

figcaption {
  padding-top: variables.$spacing-unit-large * 2;
  color: variables.$color-neutral-700;
  font-size: 0.78rem;
}

// ========================================================================
// Typography
// ========================================================================
h1,
h2,
h3,
h4 {
  font-weight: variables.$font-weight-bold;
  color: variables.$color-brown-800;
  line-height: variables.$lineheight-s;
}

h1 {
  font-size: 3.06rem;
  margin: 0 0 1.77rem;
  text-align: center;
}

h2 {
  font-size: 2.44rem;
  margin: 0 0 1.77rem;
}

h3 {
  font-size: 1.56rem;
  margin-bottom: variables.$spacing-unit-large * 3;
}

h4 {
  font-size: 1.17rem;
  margin-bottom: 0.44rem;
}

p {
  font-size: 1rem;
  margin-bottom: 0.44rem;
}

blockquote {
  font-size: variables.$font-size-32;
  font-style: variables.$font-style-italic;
}

cite {
  font-size: 1rem;
}

.highlighted {
  font-size: variables.$font-size-32;
}

// ========================================================================
// Link Styles
// ========================================================================
a {
  color: variables.$color-blue-700;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: variables.$color-blue-500;
    cursor: pointer;
  }

  &:visited,
  &:active {
    color: variables.$color-blue-600;
  }
}

// ========================================================================
// Button Styles
// ========================================================================
button {
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  font-size: 0.88rem;
  font-weight: variables.$font-weight-regular;
  padding: variables.$spacing-unit-small * 7 variables.$spacing-unit-large * 4;
  text-transform: uppercase;
  background-color: variables.$color-brown-700;
  color: variables.$color-neutral-50;
  border: none;
  border-radius: variables.$radius-s;
  cursor: pointer;
  box-shadow: variables.$elevation-xs;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: variables.$color-brown-500;
  }

  &:focus {
    background-color: variables.$color-brown-600;
    outline: 2px solid variables.$color-brown-800;
  }
}

// ========================================================================
// List Styles
// ========================================================================

ul,
ol {
  line-height: variables.$lineheight-m;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
}

ol li:not(:last-child),
ul li:not(:last-child) {
  padding-bottom: variables.$spacing-unit-large;
}

// ========================================================================
// Specific Card Styles
// ========================================================================
.box {
  flex: 0 0 calc(33.33% - 21.33px);
  box-sizing: border-box;
}

.toolbox {
  padding: variables.$spacing-unit-large * 5 variables.$spacing-unit-large * 4;
  color: variables.$color-neutral-50;
}

.toolbox h3 {
  color: variables.$color-neutral-50;
  margin-top: 0;
}

#card img {
  max-height: 250px;
  box-shadow: variables.$elevation-s;
}

#card .padding {
  padding: variables.$spacing-unit-large * 3 variables.$spacing-unit-large * 3
    variables.$spacing-unit-large * 8;
}

#card a {
  color: variables.$color-brown-900;
  background-color: variables.$color-blue-100;
}

#card a:hover {
  text-decoration: none;
  background-color: variables.$color-blue-50;
  transition: background-color 0.3s ease;
}

// ========================================================================
// Overlay Art Styles
// ========================================================================
.image-container {
  display: inline-block;
}

.image-wrapper {
  position: relative;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 49, 54, 0.15);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}

// ========================================================================
// Code Snippet Container
// ========================================================================
pre {
  background-color: variables.$color-neutral-800;
  color: variables.$color-neutral-50;
  padding: variables.$spacing-unit-large * 2;
}

.scrollable-container {
  width: 100%;
  max-width: 800px;
}

/* Make code scrollable */
code {
  display: block; /* Ensure it takes full width */
  overflow: auto; /* Enable scrolling if content exceeds height */
  max-height: 100%; /* Limit to the height of the parent */
  font-size: 0.8rem;
}

// ========================================================================
// Responsive Styles
// ========================================================================
@media (max-width: variables.$breakpoint-tablet) {
  .container-l,
  .container,
  .container-m {
    padding: 0 variables.$global-pd-tablet;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  #card .padding {
    padding: variables.$spacing-unit-large * 2 variables.$spacing-unit-large * 2
      variables.$spacing-unit-large * 8;
  }
}

@media (max-width: variables.$breakpoint-mobile) {
  .container-l,
  .container,
  .container-m {
    padding: 0 variables.$global-pd-mobile;
  }
}

@media (max-width: 1200px) {
  .box {
    flex: 0 0 calc(50% - 16px);
  }
}

@media (max-width: 560px) {
  .box {
    flex: 0 0 100%;
  }
}
