<app-breadcrumb></app-breadcrumb>

<section class="mb-64">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<div class="container-m m-middle">
  <picture>
    <source srcset="projects/curly-arrows.webp" type="image/webp" />
    <img src="projects/curly-arrows.jpg" alt="" class="radius-l elevation-xs" />
  </picture>
  <div class="mt-32 mb-48">
    <img src="general/arrow.svg" alt="" class="m-middle" />
  </div>
</div>

<div class="main-margin">
  <app-technical-tools-small></app-technical-tools-small>
</div>

<section class="text-center m-middle container-m link-to-project">
  <div class="main-margin">
    <h2 class="mt-80">Explore Curly Arrows on Figma Community</h2>
    <p class="mb-32 container">
      Take a peek at the product page to learn more and maybe see Curly Arrows
      in action!
    </p>
    <a
      href="https://www.figma.com/community/plugin/1479578583033554127"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button class="link d-flex align-items m-middle">
        Explore Curly Arrows
        <span class="material-icons" aria-hidden="true"> open_in_new</span>
      </button>
    </a>
  </div>
</section>

<div class="main-margin">
  <app-scroll-menu [sections]="sections"> </app-scroll-menu>
</div>

<section id="section1" class="main-margin">
  <div class="container-m m-middle">
    <h2>1. Purpose &amp; Goal</h2>
  </div>
</section>

<section id="section2" class="main-margin">
  <div class="container-m m-middle">
    <h2>2. Features &amp; Visual Design</h2>
  </div>
</section>

<section id="section3" class="main-margin">
  <div class="container-m m-middle">
    <h2>3. Development Insights</h2>
  </div>
</section>

<section id="section4" class="main-margin">
  <div class="container-m m-middle">
    <h2>4. Final Reflections</h2>
  </div>
</section>

<div class="container-l m-middle">
  <img src="projects/pattern-hearts-pattern.svg" alt="" class="main-margin" />
</div>

<div class="container-m m-middle text-center">
  <h2>Thank you for taking the time to explore this little project.</h2>
</div>
