@use "../../../styles/tokens" as token;

.intro {
  font-size: 28px;
}

img {
  max-width: 454px;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
}

@media (max-width: token.$breakpoint-tablet) {
  .intro {
    font-size: 23px;
  }
}
