@use "../../../styles/tokens" as token;

.intro {
  font-size: 28px;
}

section {
  text-align: center;
}

img {
  max-width: 580px;
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: token.$breakpoint-tablet) {
  .intro {
    font-size: 23px;
  }
}
