<section class="mt-64 container-l main-margin">
  <div class="d-flex flex-wrap gap-32 align-center justify-between">
    <div class="box-1">
      <h1 class="text-left">
        Designing systems. Building interfaces. Connecting the dots.
      </h1>
      <p class="text-left">
        Hi, I'm Denise – a UX Engineer crafting digital products with care and
        clarity. I blend creativity and code to build inclusive, scalable user
        experiences.
      </p>
      <a routerLink="/projects" class="button mt-40 mb-32">Explore My Work</a>
    </div>
    <div class="box-1">
      <picture>
        <source srcset="general/portrait.webp" type="image/webp" />
        <img
          src="general/portrait.jpg"
          alt=""
          class="border-standard radius-l"
        />
      </picture>
    </div>
  </div>
</section>
