@use "../../../styles/variables" as variables;
@use "../../../styles/utilities" as utilities;

img.puzzle {
  max-height: 363px;
}

.container-individual {
  max-width: 1034px;
}

.bg-dark-neutral li {
  font-weight: variables.$font-weight-light;
}
